.cards {
    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: 'monserat';
}

.tanlash {
    width: 100%;
    position: absolute;
    top: 130px;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

@media (max-width:490px) {
    .tanlash {
        top: 100px;
        font-size: 16px;
    }
}