.finish {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    color: #fff;
    font-size: 48px;
}

.btn {
    border-radius: 4px;
    background: #F3F2F1;
    color: #606060;
    padding: 8px;
    font-size: 16px;
    line-height: 150%;
    border: none;
    cursor: pointer;
}

@media (max-width:490px) {
    .text {
        font-size: 24px;
    }
}